<a href="/">Главная</a> |
<a href="/costumers/">Покупатели</a> |
<a href="{% url 'news-list' %}">Новости</a> |
<a href="/admin/">Админка</a>

<h1>Товары</h1>
{% for product in products %}
    <div>{{ product.id }}.
        <a href="/product/{{ product.id }}/">{{ product.name }}</a>
         - {{ product.price }} сом
    </div>
{% endfor %}

{#    <div>{{ product.id }}. {{ product.name }} - {{ product.price }} сом.</div>#}
{#    <div>Просмотры пользователей:</div>#}
{#    <ul>#}
{#        {% for customer in product.costumer_views.all %}#}
{#    <div>{{ customer.name }}</div>#}
{#    {% endfor %}#}
{#    </ul>#}
{#{% endfor %}#}

