<a href="/">Главная</a> |
<a href="/costumers/">Покупатели</a> |
<a href="{% url 'news-list' %}">Новости</a> |
<a href="/admin/">Админка</a>


<h1>{{ new.title }}</h1>
<div>{{ new.category }}</div>
<div>{{ new.article }}</div>
<div>Просмотры: {{ new.views_qty }}</div>
<div>Уникальные просмотры: {{ new.costumer_views.count }}</div>
{##}
{#<h1>Новости</h1>#}
{#{% for news in new %}#}
{#    <div>{{ news.id }}.#}
{#        <a href="/news/{{ news.id }}/">{{ news.title }}</a>#}
{#            {{ news.category }}#}
{#    </div>#}
{#{% endfor %}#}